<footer class="bg-primary text-center py-3 mt-5">
    <p class="mb-0">&copy; 2024 Web & Discord Bot Developer. Alle rechten voorbehouden.</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
