<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>Home - Web & Discord Bot Developer</title>
</head>
<body class="bg-dark text-white">
    <div class="container">
        <h1 class="mt-5">Welkom op mijn website</h1>
        <p class="lead">Ik ben een ervaren ontwikkelaar van geavanceerde web- en Discord-bots.</p>
        <p>Met jarenlange ervaring in softwareontwikkeling, richt ik mij op het bouwen van robuuste en schaalbare oplossingen die voldoen aan de unieke behoeften van mijn klanten. Of het nu gaat om het creëren van interactieve webapplicaties of het ontwikkelen van intelligente Discord-bots, ik sta klaar om uw project tot leven te brengen.</p>
        <a href="/contact" class="btn btn-primary">Neem contact met mij op</a>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
