<%- include('../layout') %>
<% locals.title = 'About'; %>
<% locals.body = `
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>About Us</h1>
        <p>DevSite is designed to provide developers with the best tools and resources to enhance their productivity and skills. Our mission is to empower developers by offering comprehensive guides, detailed API references, and a vibrant community.</p>
        <p>Whether you are a beginner or an experienced developer, you will find valuable resources that will help you in your development journey.</p>
      </div>
    </div>
  </div>
`; %>
