<%- include('../layout') %>
<% locals.title = 'Services'; %>
<% locals.body = `
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Our Services</h1>
        <p>We offer a wide range of services to meet your development needs:</p>
        <ul>
          <li><strong>Discord Bots:</strong> Custom bots to automate and enhance your server.</li>
          <li><strong>Webshops:</strong> E-commerce solutions for businesses of all sizes.</li>
          <li><strong>Websites & Dashboards:</strong> Professional websites and dashboards to showcase your business or project.</li>
        </ul>
        <p>Contact us to learn more about how we can help you with your development projects.</p>
      </div>
    </div>
  </div>
`; %>
